/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
body {
    background-color: #1b2530;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 20px;
    height: 10vh;
}
  
header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Style for the main content */
main {
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Style for the footer */
footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    height: 10vh;
}

button {
    font-size: .75em;
    font-size: 20px;
    padding: 10px 20px;
}

/* Panels */

.panel-container {
    width: 73vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.panel {
    background-color: #2C3E50;
    border-radius: 5px;
    padding: 5px;
    height: 49%;
    width: 31%;
    margin-right: 5px;
}

.panel-controller {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.panel-head {
    font-size: 1.05em;
    font-weight: bold;
}

.min-max-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background-color: #698fb6;
}

.network-interface-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mac-changer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66%;
    width: 100%;
}

.sidebar {
    width: 33vw;
    height: 100%;
}

/* Terminal */
.terminal-display {
    border-radius: 5px;
    border: 2px solid #698fb6;
    background-color: #222;
    color: #fff;
    font-family: monospace;
    padding: 10px;
    height: 100%;

}
  
.terminal-line {
    line-height: 1.5;
}
  

